<a href="https://colab.research.google.com/github/AhMedDa1/Zain_Analysis/blob/main/Twitter_Data_First.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import tweepy as tw
import pandas as pd

In [9]:
API_key= 'SabyZurWYwLfBxL2Sg3Guw33L'
api_secret= 'Xmkhlv1HdHgZb5soUg1E3r3kQSbdexFQGdT0x6JAYNCaenQwda'
access_token= '751390828480851968-gdXy9zxrjZgQYEHtyfYmtHbVCkmEd8w'
access_token_secret= '7UINatf9CfdZUSmo5Sc3FYEIIibwitazCSnBP3eVTwv3K'

In [10]:
auth = tw.OAuthHandler(API_key, api_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [191]:
search_words = "@ZainSudan -filter:retweets -filter:replies"
date_since = "2022-01-01"

In [202]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="ar",
                       since=date_since).items(10)

users_tweet = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.favorite_count, tweet.is_quote_status, tweet.created_at, tweet.retweet_count ] for tweet in tweets]

In [203]:
tweet_text = pd.DataFrame(data=users_tweet, 
                    columns=['user', "location","text","favorite_count","is_quote_status","created_at", "retweet_count"])
tweet_text

,user,location,text,favorite_count,is_quote_status,created_at,retweet_count
0,Mood_key,,â­•ï¸â­•ï¸â­•ï¸â­•ï¸â­•ï¸â­•ï¸\nÙ„Ø¯ÙŠÙƒÙ… Ø¬Ù‡Ù„ Ø§Ùˆ Ø®ÙŠØ§Ù†Ù‡\n\n@albaik \n...,0,False,2022-08-05 22:06:18,0
1,themuse_sd,"Khartoum, Sudan",English below\n\nÙŠØ¨Ø¯Ø£ Ø´Ù‡Ø± Ø£ØºØ³Ø·Ø³ Ø¨ØµÙˆØ±Ø© Ø¬Ø¯ÙŠØ¯Ø© Ù„Øª...,13,False,2022-08-04 18:46:46,3
2,AbdelrahimAlto3,Sudan,Ø´Ø¨ÙƒØ© Ø²ÙŠÙ† Ø¨Ù‚Øª Ø²ÙŠ Ø§Ø±ÙŠØ¨Ø§ ÙˆØ§Ø­Ø¯ Ùˆ ÙƒÙ…Ø§Ù† Ø¨ØªÙ†Ø§ÙØ³Ù‡Ø§ ÙÙŠ ...,1,False,2022-08-03 19:56:42,0
3,5ldon5lody,+249 +966,ØµØ¨Ø§Ø­ Ø§Ù„Ù†ÙˆØ±\nÙ†ØªÙƒÙ… Ø³Ù…Ø­ Ø´Ø¯ÙŠØ¯ Ù…Ø§ Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ø¨Ø³ Ø¹ØµØ±ØªÙˆ...,0,True,2022-08-01 07:29:51,0
4,Amalshalbi12,Ø§Ù„Ø³ÙˆØ¯Ø§Ù†,Ø¹Ù†Ø¯Ù†Ø§ Ù‡Ù…Ø± ÙˆØ§Ù‚ÙÙ‡ Ø³Ø§ÙƒØª Ù„Ùˆ ÙÙŠ Ø§ÙŠ Ø¬Ù‡Ù‡ Ø¹Ø§ÙˆØ²Ø© ØªØ§Ø¬Ø± Ø¨...,0,False,2022-07-31 15:51:28,0
5,M7md3bdo4,ÙÙŠ Ø¨ÙŠØª Ø§Ù…ÙŠ ğŸ’ª,Ø§Ø³ÙˆØ¡ Ø®Ø¯Ù…Ø© ÙˆØ§ØºÙ„Ù‰ Ø®Ø¯Ù…Ø© Ù„Ù„Ø§Ù†ØªØ±Ù†Øª ÙˆØ§ØµÙ„Ø§ Ù… Ø­ ØªØªÙ‚Ø¯Ù…Ùˆ...,2,False,2022-07-30 21:36:50,0
6,Alzain51338221,Ø§Ù„Ø³ÙˆØ¯Ø§Ù†,Ù‚Ø³Ù…Ø§ Ø¨Ø§Ù„Ù„Ù‡ ÙŠØ§Ù†Ø§Ø³ Ø²ÙŠÙ† Ø§Ù†ØªÙˆ Ù„Ø§ Ø¹Ø§Ù„Ù… Ø¬Ù…ÙŠÙ„ ÙˆÙ„Ø§ Ø³Ø¬Ù…...,0,False,2022-07-30 06:25:11,0
7,7anina,,Ù…Ø§ ÙŠØ§ ØªØµÙ„Ø­Ùˆ Ø´Ø¨ÙƒØªÙƒÙ…ØŒ ÙŠØ§ ØªÙ‚Ù„Ø¨ÙˆÙ‡Ø§ ÙƒÙØ´Ùƒ Ø´Ø§ÙŠ ÙƒØ±Ùƒ \n...,0,False,2022-07-29 22:51:55,0
8,haitham_bak,Ø§Ù„Ø¬Ù†Ø© Ø¨Ø¥Ø°Ù† Ø§Ù„Ù„Ù‡,ÙƒØ§Ù†Øª Ù„Ù†Ø§ Ø£ÙŠØ§Ù…\nâ¦@ZainSudanâ© https://t.co/DtTyU...,0,False,2022-07-28 11:23:23,0

# Zain's Tweets

In [218]:
ztweet = api.user_timeline(screen_name='ZainSudan', 
                           # 200 is the maximum allowed count
                           count=500,
                           include_rts = False,
                           
                           tweet_mode = 'extended'
                           )

In [219]:
Zain_tweets = [[tweet.user.screen_name, tweet.user.location, tweet.full_text, tweet.favorite_count,  tweet.created_at, tweet.retweet_count ] for tweet in ztweet]

In [220]:
dataf = pd.DataFrame(data=Zain_tweets, 
                    columns=['user', "location","text","favorite_count","created_at", "retweet_count"])
dataf

,user,location,text,favorite_count,created_at,retweet_count
0,ZainSudan,Sudan - Khartoum,Applications Are Open for The Second Edition o...,8,2022-08-06 12:39:40,3
1,ZainSudan,Sudan - Khartoum,Always connected to #Nature\n\n#WeAreNature #Z...,8,2022-08-06 10:23:27,0
2,ZainSudan,Sudan - Khartoum,@ahmed_abonoor Ù…Ø±Ø­Ø¨Ø§Ù‹ Ø¨Ùƒ @ahmed_abonoor (ahme...,1,2022-08-05 15:05:03,0
3,ZainSudan,Sudan - Khartoum,Ø´Ø±ÙˆØ· Ø§Ù„Ù…Ø³Ø§Ø¨Ù‚Ø© :\nâš½ï¸ Ø§Ø´ØªØ±Ùƒ ÙÙŠ Ø¯ÙˆØ±ÙŠ (Zain SD Fan...,51,2022-08-05 12:50:22,52
4,ZainSudan,Sudan - Khartoum,Ø§Ù„Ù…Ø±ÙƒØ² Ø§Ù„Ø£ÙˆÙ„ : 5 Play Station\nØ§Ù„Ù…Ø±ÙƒØ² Ø§Ù„Ø«Ø§Ù†ÙŠ :...,37,2022-08-05 12:49:32,14
...,...,...,...,...,...,...
195,ZainSudan,Sudan - Khartoum,#Ù…ÙØ³Ø§Ø¨Ù‚Ø§Øª_Ø²ÙŠÙ† \nÙÙŠ Ø£ÙŠ Ø¹Ø§Ù… Ù‡Ø¬Ø±ÙŠ ÙˆÙ‚Ø¹Øª ØºØ²ÙˆØ© Ø¨Ø¯Ø± Ø§...,693,2022-04-18 07:10:47,606
196,ZainSudan,Sudan - Khartoum,"Ù…Ø¹ #Ø²ÙŠÙ† ÙŠÙÙ…ÙƒÙ†Ùƒ Ø§Ù„Ø¥Ø³ØªÙ…ØªØ§Ø¹ Ø¨ÙˆÙØ­Ø¯Ø§Øª ""ØªÙƒØªÙƒ"" Ø£Ø«Ù†Ø§Ø¡ ...",36,2022-04-18 05:31:13,3
197,ZainSudan,Sudan - Khartoum,Ø£Ù„Ù Ù…Ø¨Ø±ÙˆÙˆÙˆÙƒ Ù„Ù„ÙØ§Ø¦Ø²ÙŠÙ† ÙÙŠ Ù…ÙØ³Ø§Ø¨Ù‚Ø© Ø±Ù…Ø¶Ø§Ù† ØŒ Ø§Ù„Ø¬Ø§Ø¦...,59,2022-04-17 19:16:30,6
198,ZainSudan,Sudan - Khartoum,ÙƒÙÙ€Ù€Ù€Ù€Ù€Ù† Ù…ÙÙ…ØªÙ†Ø§Ù‹ Ù„ÙƒÙÙ€Ù€Ù€Ù€Ù„ Ø¬Ù…ÙŠÙ„ ğŸ¤ğŸ’œ\n\nØµØ¨Ø§Ø­ÙƒÙÙ€Ù€Ù€...,42,2022-04-17 06:19:36,3
199,ZainSudan,Sudan - Khartoum,Ø¹Ø±Ø¶ Ø®Ø§Øµ Ø¨Ø§Ù„Ù…ÙØ¹ØªÙ…Ø±ÙŠÙ† .. Ù„Ù„ØªÙˆØ§ØµÙÙ„ Ù…Ø¹ Ø£Ù‡Ù„ÙƒÙ… Ù…Ù† Ù...,27,2022-04-16 13:27:49,3