<a href="https://colab.research.google.com/github/AhMedDa1/Get_Twitter-Data/blob/main/Twitter_GData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The purpose of this notebook is to help you gathering more tweets about specific search criteria

In [1]:
#@markdown <center><h1>-------- Import Libs and get the token and access keys -----------</h1></center><br>
import tweepy as tw
import pandas as pd
import ipywidgets as widgets

API_key= '7jbXRqWE5AqgQM0wapKcuvoJO' # @param {type:"string"}
api_secret= 'gGs3cy6cwvpWPteSxH0K5ktAZA2RAd3n3B0lml8rmQJvLoQPBC' # @param {type:"string"}
access_token= '751390828480851968-wuePmwpDPA0oLuOq30grBMW5N3SYndN' # @param {type:"string"}
access_token_secret= 'wXYNlBxGMOqM5LfbwV2a5ou7MZjIqjyCqhUhrTXQffSIu' # @param {type:"string"}


auth = tw.OAuthHandler(API_key, api_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

You can custumize your serch criteria here 
add @ before the word if you want to search every tweet that mentioned this word.




"#" for Hashtags 

this will return all tweet and retweets you can use this filter after search's word:




*   -filter:quoteweets
*   -filter:replies
*   -filter:retweets

In [2]:
Search_words = "\u0632\u064A\u0646" # @param {type:"string"}
Date_since = "2014-01-01" # @param {type:"date"}
Count = 200 # @param {type:"integer"}
#-filter:quoteweets -filter:replies -filter:retweets

In [3]:
tweets = tw.Cursor(api.search,
                       q=Search_words,
                       lang="ar",
                       since=Date_since).items(Count)

In [4]:
users_tweet = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.favorite_count, tweet.is_quote_status, tweet.created_at, tweet.retweet_count , ] for tweet in tweets]

In [5]:
tweet_text = pd.DataFrame(data=users_tweet, 
                    columns=['user', "location","text","favorite_count","is_quote_status","created_at", "retweet_count"])


tweet_text

,user,location,text,favorite_count,is_quote_status,created_at,retweet_count
0,ypxdo,,@clo887 Ø¯Ø§ÙŠÙ… ÙƒÙ„Ø§Ù…ÙŠ Ø²ÙŠÙ† ğŸŒğŸ˜‚,0,False,2022-08-07 22:07:05,0
1,EAbbas079,,RT @paintapduallh: Ù‚Ø§ÙŠÙ„Ø§Ù‡ Ù„ÙƒÙ… \nØ§Ù„Ù‚ØµÙ Ø¹Ù„ÙŠ #ØµÙ†Ø¹...,0,False,2022-08-07 22:07:03,2
2,ly26141868,,@fut_fifaa ÙØ§Ø±Ø³ ÙˆØ§Ù„Ø´Ø¨Ø§Ø¨ ÙÙŠ Ø§Ø­Ø¯ Ø²ÙŠÙ† ØºÙŠØ± Ø­ÙƒÙŠÙ…ÙŠ Ùˆ...,0,False,2022-08-07 22:07:00,0
3,Disha68355799,,@hnoufili ÙŠØ§ Ø£Ø®ÙŠ Ø£Ù†Ø§ Ù…ØµØ±ÙŠ ÙˆØ§Ù‚ÙˆÙ„Ùƒ Ø·Ø§Ø´ Ù…Ø§ Ø·Ø§Ø´ Ø¶Ø­...,0,False,2022-08-07 22:06:58,0
4,mbark39049277,,@ZainKSA @masor323a #Ø²ÙŠÙ† \n\nØ§Ù„Ø¬ÙˆØ§Ø¨ : 3/ Ø¬Ù…ÙŠØ¹ ...,0,False,2022-08-07 22:06:49,0
...,...,...,...,...,...,...,...
195,Jgf6yTapbZnX9eV,,@Ealia_Nsyf Ø¹Ù„ÙŠ ØºÙ„Ø§Ù… Ù…Ù„ÙŠØ´ÙŠØ§ÙˆÙŠ ÙˆØªØ¹Ø±ÙÙˆÙ†Ù‡ ÙƒÙ„ Ø²ÙŠÙ†\...,0,False,2022-08-07 21:54:46,0
196,iiq_za,ğŸ‡®ğŸ‡¶,@23__su Ø§Ø®ØªÙŠØ§Ø±Ø§ØªÙŠ Ø²ÙŠÙ† Ø¨Ø³ Ø§Ù†ÙŠ Ù…Ùˆ Ø²ÙŠÙ†ğŸš¶â€â™€ï¸,0,False,2022-08-07 21:54:46,0
197,aizz089,"Riyadh, Kingdom of Saudi Arabia",ØªØ­Ø¯ÙŠØ« Ø³Ù‡Ù… Ø²ÙŠÙ† 11.9 \n\nØ§Ù„Ù…ÙØªØ§Ø­ 13.9 ØªÙ‚Ø±ÙŠØ¨Ø§ - Ø§...,0,False,2022-08-07 21:54:41,0
198,hjwwr4,,@X1X95 Ø²ÙŠÙ† Ø­Ù…Ø¯ Ø²ÙŠÙ†,1,False,2022-08-07 21:54:41,0
199,fg1388,,@1SMi_ Ù…Ù† Ø²ÙŠÙ† Ù„Ø¹Ø¨Ù‡ Ù‡Ø§Ù„Ù…Ù„Ø§ÙŠÙŠÙ† ÙˆØ±Ø§ÙØ¶ ÙˆÙ‡Ùˆ Ø¬Ø§ÙŠ Ù…Ù† ...,0,False,2022-08-07 21:54:40,0

# Zain's Tweets

In [ ]:
ztweet = api.user_timeline(screen_name='ZainSudan', 
                           # 200 is the maximum allowed count
                           count=500,
                           include_rts = False,
                           
                           tweet_mode = 'extended'
                           )

In [ ]:
Zain_tweets = [[tweet.user.screen_name, tweet.user.location, tweet.full_text, tweet.favorite_count,  tweet.created_at, tweet.retweet_count ] for tweet in ztweet]

In [ ]:
dataf = pd.DataFrame(data=Zain_tweets, 
                    columns=['user', "location","text","favorite_count","created_at", "retweet_count"])
dataf

,user,location,text,favorite_count,created_at,retweet_count
0,ZainSudan,Sudan - Khartoum,Ø¨Ø§Ù‚Ø§Øª ÙƒØ¨ÙŠØ±Ø© Ùˆ Ø®ÙŠØ§Ø±Ø§Øª ÙƒØªÙŠØ±Ø© Ù…Ø¹ #Ù…Ù„ÙŠØ§Ù†Ø©_Ø¯Ø§ØªØ§ ..\...,2,2022-08-07 13:36:11,0
1,ZainSudan,Sudan - Khartoum,Ù„ÙƒÙÙ„ Ù…ÙØ´ØªØ±ÙƒÙŠ Ø§Ù„Ø¹Ø§Ù„Ù… Ø§Ù„Ø¬Ù…ÙŠÙ„ ... ÙŠÙÙ…ÙƒÙ†ÙƒÙ… Ø§Ù„ØªÙˆØ§ØµÙ...,14,2022-08-07 08:57:25,0
2,ZainSudan,Sudan - Khartoum,Applications Are Open for The Second Edition o...,16,2022-08-06 12:39:40,4
3,ZainSudan,Sudan - Khartoum,Always connected to #Nature\n\n#WeAreNature #Z...,18,2022-08-06 10:23:27,1
4,ZainSudan,Sudan - Khartoum,@ahmed_abonoor Ù…Ø±Ø­Ø¨Ø§Ù‹ Ø¨Ùƒ @ahmed_abonoor (ahme...,1,2022-08-05 15:05:03,0
...,...,...,...,...,...,...
195,ZainSudan,Sudan - Khartoum,ÙƒØ§Ù† Ø§Ù„Ø¹Ø§Ù… 2021 Ù…Ù„ÙŠØ¦Ø§ Ø¨Ø§Ù„ØªØ­Ø¯ÙŠØ§ØªØŒ ÙˆÙ„ÙƒÙ… Ù„Ù… ØªÙ…Ù†Ø¹Ù†Ø§...,32,2022-04-19 11:12:08,2
196,ZainSudan,Sudan - Khartoum,@MaudoTwix Ø¹ÙÙˆØ§Ù‹ Ù„Ø¯ÙŠÙƒ Ø®Ø¯Ù…Ø© ØªØ­ÙˆÙŠÙ„ Ù…ÙƒØ§Ù„Ù…Ø§Øª Ù…ÙØ¹Ù„Ø©...,0,2022-04-19 07:39:12,0
197,ZainSudan,Sudan - Khartoum,#Ù…ÙØ³Ø§Ø¨Ù‚Ø§Øª_Ø²ÙŠÙ† \nÙÙŠ Ø£ÙŠ Ø¹Ø§Ù… Ù‡Ø¬Ø±ÙŠ ÙˆÙ‚Ø¹Øª ØºØ²ÙˆØ© Ø¨Ø¯Ø± Ø§...,694,2022-04-18 07:10:47,607
198,ZainSudan,Sudan - Khartoum,"Ù…Ø¹ #Ø²ÙŠÙ† ÙŠÙÙ…ÙƒÙ†Ùƒ Ø§Ù„Ø¥Ø³ØªÙ…ØªØ§Ø¹ Ø¨ÙˆÙØ­Ø¯Ø§Øª ""ØªÙƒØªÙƒ"" Ø£Ø«Ù†Ø§Ø¡ ...",36,2022-04-18 05:31:13,3
199,ZainSudan,Sudan - Khartoum,Ø£Ù„Ù Ù…Ø¨Ø±ÙˆÙˆÙˆÙƒ Ù„Ù„ÙØ§Ø¦Ø²ÙŠÙ† ÙÙŠ Ù…ÙØ³Ø§Ø¨Ù‚Ø© Ø±Ù…Ø¶Ø§Ù† ØŒ Ø§Ù„Ø¬Ø§Ø¦...,59,2022-04-17 19:16:30,6