<a href="https://colab.research.google.com/github/AhMedDa1/Zain_Analysis/blob/main/Twitter_GData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The purpose of this notebook is to help you gathering more tweets about specific search criteria

In [ ]:
#@markdown <center><h1>-------- Import Libs and get the token and access keys -----------</h1></center><br>
import tweepy as tw
import pandas as pd
import ipywidgets as widgets

API_key= '7jbXRqWE5AqgQM0wapKcuvoJO' # @param {type:"string"}
api_secret= 'gGs3cy6cwvpWPteSxH0K5ktAZA2RAd3n3B0lml8rmQJvLoQPBC' # @param {type:"string"}
access_token= '751390828480851968-wuePmwpDPA0oLuOq30grBMW5N3SYndN' # @param {type:"string"}
access_token_secret= 'wXYNlBxGMOqM5LfbwV2a5ou7MZjIqjyCqhUhrTXQffSIu' # @param {type:"string"}


auth = tw.OAuthHandler(API_key, api_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

You can custumize your serch criteria here 
add @ before the word if you want to search every tweet that mentioned this word.




"#" for Hashtags 

this will return all tweet and retweets you can use this filter after search's word:




*   -filter:quoteweets
*   -filter:replies
*   -filter:retweets

In [ ]:
Search_words = "\u0645\u0631\u0648\u062C " # @param {type:"string"}
Date_since = "2014-01-01" # @param {type:"date"}
Count = 200 # @param {type:"integer"}
#-filter:quoteweets -filter:replies -filter:retweets

In [ ]:
tweets = tw.Cursor(api.search,
                       q=Search_words,
                       lang="ar",
                       since=Date_since).items(Count)

In [ ]:
users_tweet = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.favorite_count, tweet.is_quote_status, tweet.created_at, tweet.retweet_count , ] for tweet in tweets]

In [ ]:
tweet_text = pd.DataFrame(data=users_tweet, 
                    columns=['user', "location","text","favorite_count","is_quote_status","created_at", "retweet_count"])


tweet_text

,user,location,text,favorite_count,is_quote_status,created_at,retweet_count
0,Psychologyksa_,المملكة العربية السعودية,RT @E7tekam_Info: تخيل تصميم اعلانك يكون احترا...,0,False,2022-08-07 20:36:09,54
1,FatemehRazavi13,,RT @group3_13: قال المسعودي: \nولمّا شمل الناس...,0,False,2022-08-07 20:32:52,2
2,AhmedAh83525080,,@ghada_fathi_m مروج الرحيلي ل لما تقول بنات ما...,0,False,2022-08-07 20:31:15,0
3,sultanrass,القصيم / الرياض,#بحر_العرب\n#المنخفض_المداري \n\nاعتقاد ان جزي...,0,False,2022-08-07 20:29:41,0
4,hussein_bn_atef,"New York, USA",RT @GamilaYafai: إفلاس سياسي واخلاقي رهيب في ا...,0,False,2022-08-07 20:19:40,1
...,...,...,...,...,...,...,...
195,Aljareedalb,lebanon,توقيف مروّج مخدرات في محيط #الجامعة_اللبنانية\...,0,False,2022-08-07 08:29:32,0
196,abhammad515,,RT @ah11011q8: @Drrashed1973 استاذي العزيز \nل...,0,False,2022-08-07 08:11:24,1
197,Transparencyne1,Lebanon,َضُبط بالجرم المشهود.. توقيف مروّج مخدرات في م...,0,False,2022-08-07 08:08:03,0
198,uIJl3rDRVAOte1K,,RT @mosafer877: #كلنا_ضد_ترويج_الشذوذ_الجنسي\n...,0,False,2022-08-07 08:07:41,40
199,FggGh38652462,,@h_as_87 شفيها مروج وكانت عندنا مدينه الترفيهي...,0,False,2022-08-07 08:05:42,0

# Zain's Tweets

In [ ]:
ztweet = api.user_timeline(screen_name='ZainSudan', 
                           # 200 is the maximum allowed count
                           count=500,
                           include_rts = False,
                           
                           tweet_mode = 'extended'
                           )

In [ ]:
Zain_tweets = [[tweet.user.screen_name, tweet.user.location, tweet.full_text, tweet.favorite_count,  tweet.created_at, tweet.retweet_count ] for tweet in ztweet]

In [ ]:
dataf = pd.DataFrame(data=Zain_tweets, 
                    columns=['user', "location","text","favorite_count","created_at", "retweet_count"])
dataf

,user,location,text,favorite_count,created_at,retweet_count
0,ZainSudan,Sudan - Khartoum,باقات كبيرة و خيارات كتيرة مع #مليانة_داتا ..\...,2,2022-08-07 13:36:11,0
1,ZainSudan,Sudan - Khartoum,لكُل مُشتركي العالم الجميل ... يُمكنكم التواصُ...,14,2022-08-07 08:57:25,0
2,ZainSudan,Sudan - Khartoum,Applications Are Open for The Second Edition o...,16,2022-08-06 12:39:40,4
3,ZainSudan,Sudan - Khartoum,Always connected to #Nature\n\n#WeAreNature #Z...,18,2022-08-06 10:23:27,1
4,ZainSudan,Sudan - Khartoum,@ahmed_abonoor مرحباً بك @ahmed_abonoor (ahme...,1,2022-08-05 15:05:03,0
...,...,...,...,...,...,...
195,ZainSudan,Sudan - Khartoum,كان العام 2021 مليئا بالتحديات، ولكم لم تمنعنا...,32,2022-04-19 11:12:08,2
196,ZainSudan,Sudan - Khartoum,@MaudoTwix عفواً لديك خدمة تحويل مكالمات مفعلة...,0,2022-04-19 07:39:12,0
197,ZainSudan,Sudan - Khartoum,#مُسابقات_زين \nفي أي عام هجري وقعت غزوة بدر ا...,694,2022-04-18 07:10:47,607
198,ZainSudan,Sudan - Khartoum,"مع #زين يُمكنك الإستمتاع بوُحدات ""تكتك"" أثناء ...",36,2022-04-18 05:31:13,3
199,ZainSudan,Sudan - Khartoum,ألف مبروووك للفائزين في مُسابقة رمضان ، الجائ...,59,2022-04-17 19:16:30,6